# Remove the C++ casting rule checks
filter=-readability/casting

# Remove some redundant formatting checks.  uncrustify will be run separately and should catch these same "errors"
filter=-whitespace/braces
filter=-whitespace/comments
filter=-whitespace/line_length
filter=-whitespace/indent

# Rules added for spe-bridge
filter=-whitespace/end_of_line
filter=-whitespace/newline
filter=-whitespace/parens
filter=-build/include_subdir
filter=-build/header_guard
filter=-build/include_order
filter=-readability/todo

# Don't search parent directories for additional config files
set noparent